{% for teaser in teasers %}

    [
        "{{ teaser.partnerName }}",
        "{{ teaser.id }}",
        "1",
        "{{ teaser.title }}",
        "{{ ' ' }}",
        "0",
        "",
        "{{ teaser.price }}",
        "{{ teaser.priceOld }}",
        "{{ teaser.hash }}",
        {
            "i":"{{ teaser.image }}",
            "l":"#",
            "adc":["class1","class2"]
        }
    ]{{ false == loop.last ? ',' : '' }}
{% endfor %}