{% for teaser in teasers %}
    [
        "{{ teaser.partnerName }}",
        "{{ teaser.id }}",
        "1",
        "{{ teaser.title }}",
        "",
        "http://blah.com",
        "{{ teaser.hash }}",
        {"i":"{{ teaser.image }}", "l":"#"}
    ]{{ false == loop.last ? ',' : '' }}
{% endfor %}